#body{
	background-color: rgb(255,224,192);
	background-attachment: fixed;
	background-repeat: repeat;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}

#f2{
	position:absolute;
	width:100%;
	margin-top: 20px;
}



td{
	background-color: #F7BE81;
	text-align: center;
	vertical-align: middle;
}

th{
	text-align: right;
}

#header{
	position: relative;
	vertical-align: center;
	background: url(../imagenes/header.png);
	background-repeat: repeat x;
	height: 110px;
}

#logo{
	width: 20%;
}

#menu{
	margin-top: 10px;
	margin-bottom: 10px;
	position: absolute;
	height: 400px;
	width: 30%;
}

#user1{
	margin-top: 10px;
	width: 100%;
}

#user3{
	margin-top: 10px;
	height: 250px;
	float: right;
	width: 70%;
}

#calendar {
	max-width: 900px;
	height: auto;
	margin: 0 auto;
}

#footer{
	clear: both;
	position: relative;
	margin-top: 20px;
	text-align: center;
	vertical-align: middle;
	background: url(../imagenes/header2.png);
	background-repeat: repeat x;
	height: 100px;
	color: rgb(128,64,0);
}

h3{
	color: rgb(128,64,0);
}

.boton{
	background:url(../imagenes/boton.png) no-repeat;
	cursor:pointer;
	height: 45px;
	width: 135px;
    border: none;
	color: rgb(96,32,0);
	font-size: 13;
	font-weight: bold;
}

.boton1{
	background:url(../imagenes/boton.png) no-repeat;
	height: 72px;
	width: 215px;
    border: none;
	color: rgb(96,32,0);
	font-weight: bold;
	text-align: center;
}
	
.boton2{
	background:url(../imagenes/borrar.png) no-repeat;
    cursor:pointer;
	height: 20px;
	width: 80px;
    border: none;
	color: rgb(96,32,0);
	font-weight: bold;
}

#b1{
	text-align: center;
}

#pic{
	width: 150px;
	height: 100px;
}

#lista{
	width: 70%;
}

.demoHeaders {
	margin-top: 2em;
}
#dialog-link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
#dialog-link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
#icons {
	margin: 0;
	padding: 0;
}
#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}
select {
	width: 200px;
}
